#navbar {
  margin:0 auto;
  padding: 0;
  list-style-type: none;
  width:80%;
  background-size:1600px 1600px;
  padding: 0;
  list-style-type: none;
  border: 2px solid green;
  border-radius: 5px 5px;
 
  text-align: center;
  background-color: green;
}
#navbar li { display: inline; }

#navbar a {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
#navbar a:hover {
  border-radius: 5px 5px;
  background-color: lime;
}
.two{
	background-color:#84C783;
	width:80%;
	margin:0 auto;
	border:1px #84C783 solid;
	
}
.one{
	display:block;
	margin:0 auto;
	width:80%;
}
.four{
	display:block;
	margin:0 auto;
	width:80%;
}
.five{
	width:80%;
	
	margin:0 auto;
	
}
.six{
	width:95%;
	margin:0 auto;
}
.eight{
	width:80%;
	margin:0 auto;
	border-top:1px black solid;
	
}
.seven{
	display:block;
	float:left;
	width:25px;
	height:25px;
	margin:5px;
}
h2{
	padding:15px;
	width:200px;
	margin:0 auto;
}
#border{
	border:1px #b9ffae solid;
	width:80%;
	margin:0 auto;
	border-radius: 5px 5px;
	background-color:#c1f5bb;
}
#video{
	margin:0 auto;
	
}
#float{
	width:50%;
	float:left;
	
	
	
}
