.vid{
	display:block;
	margin:0 auto;
	width: 50%;
	border:1px #c1f5bb solid;
	
}

* {box-sizing: border-box; margin: 0;}
.widget {
  padding: 20px 30px;
  background:black;
  font-family: 'Roboto', sans-serif;
  float:left;
  position:fixed;
  height:100%;
  width:15%;
  opacity:0.5;
  background-image:url(naom_5bbe283e98708.jpg);
}
.widget-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color:green;
  font-size: 16px;
  
  
}
.widget-list {
  padding: 0;
  list-style: none;
  float:left;
  
}
.widget-list a:before {
  content: "\2014";
  margin-right: 14px;
  float:left;
}
.widget-list a {
  text-decoration: none;
  outline: none;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  font-weight: 300;
  transition: .3s linear;
  float:left;
  color:white;
}
.widget-list a:hover {color: #b99d61;}
.two{
	background-color:#84C783;
	width:90%;
	margin:0 auto;
	border:1px #84C783 solid;
	border-radius: 5px 5px;
	
	
}
.one{
	display:block;
	margin:0 auto;
	width:80%;

}
.four{
	display:block;
	margin:0 auto;
	width:80%;
}
.five{
	width:90%;
	
	margin:0 auto;
	
	
}
.six{
	width:90%;
	margin:0 auto;
	
}
.eight{
	width:80%;
	margin:0 auto;
	border-top:1px black solid;
	float:right;
	
}
.seven{
	display:block;
	float:left;
	width:25px;
	height:25px;
	margin:5px;
}
h2{
	padding:15px;
	width:200px;
	margin:0 auto;
	
}
#border{
	
	width:100%;
	margin-top: 5px;
	margin-bottom: 5px;
	float:right;
}
#video{
	margin:0 auto;
	
	
}
#float{
	width:50%;
	float:left;
	
	
	
}
h3{
	
	border-bottom:1px #03802a solid;
	
}
#m{
	width:90%;
	margin:0 auto;
}
#float1{
	width:85%;
	
	float:right;
	background-color:#4b4b4c;
	
	
}
p{
	color:white;
}
h2{
	color:white;
}
h3{
	color:white;
}